.btn-color {
    background-color: rgb(203, 235, 253);
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}

.cardcolor {
    background-color: aqua;
}
.imgon{
    height: 100px;
}