.card {
    /* display: flex; */
    /* justify-content: center; */
    width: 300px;
    /* height; */
    border: 2px solid rgb(4, 0, 0);
    border-radius: 9px;
    /* background-color: #f7e1e1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 80px;
    height: 80px;
    /* background: #4caf50; */
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 1.5px solid black;
}